@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allows scrolling but hides the scrollbar */
html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Chrome */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
}

html {
  scrollbar-width: none; /* Firefox */
}

.section {
  position: relative;
  padding: 4rem 1rem;
  z-index: 0;
}

.section::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  z-index: -1;
}

.section:nth-child(even) {
  background: linear-gradient(180deg, rgba(97,179,244,1) 0%, rgba(157,217,243,1) 58%, rgba(209,244,251,1) 100%);
}

.section:nth-child(odd) {
  background: linear-gradient(180deg, rgba(254,120,159,1) 0%, rgba(255,182,193,1) 51%, rgba(254,213,240,1) 100%);
}
