@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allows scrolling but hides the scrollbar */
html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 20, 20, 1) 51%,
    rgba(30, 30, 30, 1) 100%
  );
  color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Chrome */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
}

html {
  scrollbar-width: none; /* Firefox */
}

.section {
  position: relative;
  padding: 0rem 1rem;
  z-index: 0;
}

.section:nth-child(even) {
  background: linear-gradient(
    270deg,
    rgba(97, 179, 244, 1) 0%,
    rgba(157, 217, 243, 1) 58%,
    rgba(209, 244, 251, 1) 100%
  );
}

.section:nth-child(odd) {
  background: linear-gradient(
    270deg,
    rgba(254, 120, 159, 1) 0%,
    rgba(255, 182, 193, 1) 51%,
    rgba(254, 213, 240, 1) 100%
  );
}

.text-neon {
  text-shadow: 0 0 5px rgba(255, 182, 193, 1), 0 0 10px rgba(255, 182, 193, 1),
    0 0 15px rgba(255, 182, 193, 1), 0 0 20px rgb(243, 112, 132);
}
